<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Azzir</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.234696942853-q8fesu2g6lloq07g2t9f9qkkdtdqfjc6</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Turning on the locations services allows us to show you clubs in your area.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Turning on the locations services allows us to show you clubs in your area.</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>YOUR-PURPOSE-KEY</key>
		<string>YOUR TEXT</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Turning on the locations services allows us to show you clubs in your area.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow access to photos to upload photos from your library.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Metropolis-Black.ttf</string>
		<string>Metropolis-Bold.ttf</string>
		<string>Metropolis-Light.ttf</string>
		<string>Metropolis-Medium.ttf</string>
		<string>Metropolis-Regular.ttf</string>
		<string>Metropolis-SemiBold.ttf</string>
		<string>HankenGrotesk-VariableFont_wght.ttf</string>
		<string>HankenGrotesk-Black.ttf</string>
		<string>HankenGrotesk-Bold.ttf</string>
		<string>HankenGrotesk-ExtraBold.ttf</string>
		<string>HankenGrotesk-ExtraLight.ttf</string>
		<string>HankenGrotesk-Light.ttf</string>
		<string>HankenGrotesk-Medium.ttf</string>
		<string>HankenGrotesk-Regular.ttf</string>
		<string>HankenGrotesk-SemiBold.ttf</string>
		<string>HankenGrotesk-Thin.ttf</string>
		<string>PTSerif-Bold.ttf</string>
		<string>PTSerif-Italic.ttf</string>
		<string>PTSerif-Regular.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>DMSans-Bold.ttf</string>
		<string>DMSans-Medium.ttf</string>
		<string>DMSans-Regular.ttf</string>
		<string>Inter-VariableFont_slnt,wght.ttf</string>
		<string>Inter-Black.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-ExtraBold.ttf</string>
		<string>Inter-ExtraLight.ttf</string>
		<string>Inter-Light.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Thin.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
